<html>
<head>
	<title>Bakos Bence - portfolio</title>
	
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Noto+Serif" rel="stylesheet">
	{{!css}}
	<meta charset="UTF-8">
</head>
<body>
	<header id="header">
		<div id="header-social">
			<img src="img/linkedin.png"/>
			<img src="img/facebook.png"/>
		</div>
		<nav>
			<a href="#home">Kezdőlap</a>
			<a href="#karrier">Karrier/CV</a>
			<a href="#webdesign">Webdesign</a>
		</nav>
	</header>
	<main>
		<section id="home">
			<header>
				<h1>Bakos Bence</h1>
				<h3>{{orientation}}</h3>
			</header>
			<article>
				<hr>
				
				<h3>Webdesign</h3>
				<p>{{!webdesignCoverText}}</p>
			</article>
			<article>
				<hr>
				
				<h3>Programozás</h3>
				<p>{{!programmingCoverText}}</p>
			</article>
		</section>
		
		<section id="karrier">
			<header>
				<h1>Karrier</h1>
			</header>
			<article>
				<hr>
				
				<h3>Tanulmányok</h3>
				<p>{{!studies}}</p>
			</article>
			<article>
				<hr>
				
				<h3>Gyakorlat</h3>
				<p>{{!exercise}}</p>
			</article>
			<article>
				<hr>
				
				<h3>Stack</h3>
				<p>{{!stack}}</p>
			</article>
		</section>
		<section id="webdesign">
			<header>
				<h1>Webdesign</h1>
			</header>
			<article>
				<hr>
				
				<h3>Design</h3>
				<p>{{!design}}</p>
			</article>
			<article>
				<hr>
				
				<h3>Tartalomkezelő rendszer weboldalára szabva</h3>
				<p>{{!cms}}</p>
			</article>
			<article>
				<hr>
				
				<h3>Online értékesítés</h3>
				<p>{{!onlineBuisness}}</p>
			</article>
		</section>
	</main>
	<footer id="footer">
	
	</footer>
</body>
{{!js}}
</html>